doctype html
head
  title About us
  style.
    body{ background-color:rgb(230, 225, 224); }
h1(style='font-size: 250%;') This is about us
p(style='color: darkblue; font-size: 150%; font-style: oblique;') Our company provides web services
a(href='index') Home
    