extends layout.pug
block content
  ol
    li Agency Frog
    ul
      li Benjamin Franklin - 403-575-2255
      li Adam Smith - 718-227-5556
      li John Adams - 227-555-5557
    br
    li Agency Mexico
      ul
        li Eva Mendes - 403-555-5558
        li Anthony Quinn - 403-555-5559
        li Selena Gomez - 403-555-5560
    br
