doctype html
head
  title Contact page
  style.
    body{ background-color:rgb(230, 225, 224); }
    li {color: royalblue; font-style: italic; font-size: 30px;}
h1 Welcome #{name}
block content
a(href='index') Home
br
br
img(src="puter")
br
img(src="tulum")